[user]
	email = t.onodera.1.2.1.5@gmail.com
	name = Takeshi Onodera
[core]
	autocrlf = input
[gui]
	recentrepo = /home/takeshi
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /home/python/.vscode-server/bin/054a9295330880ed74ceaedda236253b4f39a335/node /tmp/vscode-remote-containers-5bc94f2ff663aab4a753c1c6428353cc6fac3152.js $*; }; f"
