[user]
	email = t.onodera.1.2.1.5@gmail.com
	name = takeshi
[core]
	autocrlf = input
[gui]
	recentrepo = /home/takeshi
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /home/python/.vscode-server/bin/054a9295330880ed74ceaedda236253b4f39a335/node /tmp/vscode-remote-containers-f3b1f509df9f58a6a03f251a2afa47e9a95b0194.js $*; }; f"
